@import "./bs";

.navbar-brand {
  img {
    width: 80px;
    height: auto;
  }
}

.bg-red-900 {
  background-color: #b71c1c;
}

.bg-grey-700 {
  background-color: #616161;
}

.bg-amber-600 {
  background-color: #ffb300;
}

.cards-wrapper {
  .card {
    width: 100%;
    @media (min-width: 768px) {
      width: 18rem;
    }
    border-radius: 0;
    .card-title {
      color: white;
    }
  }
}

.table {
  thead {
    tr {
      th {
        vertical-align: middle;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}

.accordion {
  .card {
    .card-header {
      cursor: pointer;
      h5 {
        font-size: 1rem;
      }
      &:not(.collapsed) {
        $color: #007bff;
        color: $color;
        background-color: lighten($color, 40%);
        i {
          transform: rotate(180deg);
        }
      }
    }
    .card-body {
      font-weight: 600;
    }
  }
}

form {
  label {
    font-weight: 600;
  }
}

footer {
  .footer-size {
    height: auto;
  }

  .input-size {
    width: 280px;
    @media (min-width: 992px) {
      width: 400px;
    }
  }

  img.logo {
    width: 130px;
    @media (min-width: 992px) {
      height: 25%;
      width: auto;
    }
  }

  button {
    max-width: 100px;
  }

  i {
    font-size: 150px;
    color: white;
  }
}
