@import "./bs";

.navbar-brand {
  img {
    width: 80px;
    height: auto;
  }
}

.bg-red-900 {
    background-color: #b71c1c;
}

.bg-grey-700 {
    background-color: #616161;
}

.bg-amber-600 {
    background-color: #ffb300;
}

.cards-wrapper {
    .card {
        border-radius: 0;
        .card-title {
            color: white;
        }
    }
}

.table {
    thead {
        tr {
            th {
                vertical-align: middle;
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
}
